<div class="min-vh-100 bg-light">
    <div class="container row mx-auto pt-4">
        <div class="row col-12 mx-0 px-0">
            <div class="col-12 col-md-6 col-lg-3">
                <mat-card class="statistics m-1">
                    <mat-card-content>
                        <b>Eventos vistos: </b>
                        {{ seen | number }}
                    </mat-card-content> 
                </mat-card>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <mat-card class="statistics m-1">
                    <mat-card-content>
                        <b>Eventos no vistos: </b>
                        {{ notSeen | number }}
                    </mat-card-content> 
                </mat-card>
            </div>
        </div>
        <div class="row col-12 mx-0 px-0">
            <mat-form-field class="col-12 col-md-6 mx-auto">
                <mat-label>Buscar</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Busqueda de evento"
                    [(ngModel)]="filter"
                    autocomplete="off">
            </mat-form-field>
            <div class="col-12"></div>
            <form class="row col-12 col-md-6 mx-auto" [formGroup]="range">
                <mat-form-field class="col-12 col-md-6 px-0 pr-md-3 pl-md-0">
                    <input matInput [ngxMatDatetimePicker]="pickerStart" placeholder="Desde" formControlName="start">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerStart></ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field class="col-12 col-md-6 px-0 pl-md-3 pr-md-0">
                    <input matInput [ngxMatDatetimePicker]="pickerEnd" placeholder="Hasta" formControlName="end">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerEnd></ngx-mat-datetime-picker>
                </mat-form-field>
            </form>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex px-0" *ngFor="let event of data">
            <mat-card class="flex-fill m-2">
                <mat-card-header>
                    <mat-card-title class="d-flex align-items-center text-dark fz-0_85">
                        <mat-icon [ngClass]="{
                                'text-danger' : event.criticality === 'alta',
                                'text-dark': event.criticality === 'baja'
                            }" [title]="event.criticality">
                            circle
                        </mat-icon> 
                        {{ event.eventBody.symbol | uppercase }}
                        <span *ngIf="event.eventBody.codigoOperacion">
                            ({{ event.eventBody.codigoOperacion }})
                        </span>
                    </mat-card-title>
                    <mat-card-subtitle class="fz-0_65">
                        {{ event.timestamp | uppercase }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <label class="mb-0"><b>Estado:</b> {{ event.status | titlecase }}</label><br>
                    <label class="mb-0"><b>¿Chequeado?:</b> {{ event.checked | titlecase}}</label><br>
                    <label class="mb-0"><b>Etiquetas:</b> {{ event.labels.join(', ') | titlecase }}</label>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        class="w-100"
                        [disabled]="event.checked === 'visto'"
                        (click)="updatechecked(event.id)">
                        <mat-icon class="mr-1">done</mat-icon>Visto
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-paginator
            class="col-12"
            [length]="length"
            [pageSize]="limit"
            [pageSizeOptions]="pageSizeOptions"
            (page)="paginate($event)">
        </mat-paginator>
    </div>
</div>
